* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/backcover.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 900px auto;
}

.main-div {
    padding: 20px 0px 20px 20px;
}


/* ==================== Navbar ==================== */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

nav img {
    width: 120px;
}

.nav-items {
    /* flex: 1; */
    display: flex;
    /* justify-content: center; */
    padding-top: 10px;
}

.nav-item {
    padding-right: 50px;
    width: fit-content;
}

.signin-btn {
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    padding: 0px 25px 0px 25px;
    color: #fff;
    background: linear-gradient(to right, rgb(150, 92, 242), rgb(255, 138, 220, 1));

}

/* ==================== Intro Section ==================== */
.intro-section {
    /* padding-top: 100px; */
    display: flex;
}

.left-section {
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-section h1 {
    font-size: 90px;
    padding-bottom: 50px;
    color: #3e4794;
}

.left-section h4 {
    width: 350px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    padding-bottom: 70px;
}

.learn-more-btn {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: #fff;
    background: linear-gradient(to right, rgb(150, 92, 242), rgb(255, 138, 220, 1));
}

.imgs-div {
    flex: 1;
    padding-left: 300px;
    position: relative;
}

.imgs-div img:nth-child(3) {
    width: 80%;
}

.vector-img {
    position: absolute;
    bottom: 60px;
}

.vector-dot {
    position: absolute;
    bottom: 150px;
    left: 360px;
}







